server = true

datacenter = "{{ consul_datacenter }}"
domain = "{{ consul_domain }}"

data_dir = "{{ consul_data_dir }}"

bind_addr = "{{ consul_bind_address }}"
client_addr = "0.0.0.0"

bootstrap_expect = {{ groups['consul_cluster']|length }}
retry_join = {{ groups['consul_cluster'] | map('extract', hostvars, 'ansible_host') | list | to_json }}
rejoin_after_leave = true

encrypt = "{{ consul_gossip_encrypt }}"

log_level = "{{ consul_log_lvl }}"

ui_config {
  enabled = true
}

{% if consul_ssl %}

ports {
    http =  -1
    https = 8501
}

verify_incoming = false
verify_outgoing = false
verify_server_hostname = false

ca_file = "/etc/ssl/ca.crt"
cert_file = "/etc/ssl/ssl.crt"
key_file = "/etc/ssl/ssl.key"

{% endif %}
