---

- name: Download Consul binary zip archive
  ansible.builtin.get_url:
    url: "{{ consul_zip_download_url }}"
    dest: "/tmp/consul.zip"
    mode: "0644"
    force: yes
  when: consul_binary_download

- name: Ensure unzip is installed (for Debian/Ubuntu based systems)
  ansible.builtin.apt:
    name: unzip
    state: present
    update_cache: true
  when: ansible_os_family == 'Debian'

- name: Ensure unzip is installed (for RedHat/CentOS based systems)
  ansible.builtin.yum:
    name: unzip
    state: present
  when: ansible_os_family == 'RedHat'

- name: Unzip Consul binary
  ansible.builtin.unarchive:
    src: "/tmp/consul.zip"
    dest: "{{ consul_bin_dir }}"
    remote_src: yes
  become: true
  when: consul_binary_download

- name: Create consul group
  ansible.builtin.group:
    name: consul
    state: present

- name: Create consul user
  ansible.builtin.user:
    name: consul
    comment: "Consul System User"
    group: consul
    shell: /bin/false
    create_home: false

- name: Set permissions for Consul binary
  ansible.builtin.file:
    path: "{{ consul_bin_dir }}/consul"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: "0755"
  notify: restart Consul service
  become: true
  when: consul_binary_download
