---

- name: Check if Consul gossip encryption key exists
  stat:
    path: "{{ consul_config_dir }}/consul_gossip_key"
  run_once: true
  register: gossip_key_file

- name: Generate gossip encryption key if it doesn't exist
  command: "{{ consul_bin_dir }}/consul keygen"
  register: consul_gossip_keygen_output
  run_once: true
  when: not gossip_key_file.stat.exists

- name: Create consul group
  ansible.builtin.group:
    name: "{{ consul_group }}"
    state: present

- name: Create consul user
  ansible.builtin.user:
    name: "{{ consul_user }}"
    group: "{{ consul_group }}"
    state: present
    system: yes

- name: Create Consul data directory
  ansible.builtin.file:
    path: "{{ consul_data_dir }}"
    state: directory
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: "0750"

- name: Store gossip encryption key
  copy:
    content: "{{ consul_gossip_keygen_output.stdout }}"
    dest: "{{ consul_config_dir }}/consul_gossip_key"
    owner: "{{ consul_user }}"
    group: "{{ consul_group }}"
    mode: 0600
  run_once: true
  when: not gossip_key_file.stat.exists

- name: Read stored gossip encryption key
  command: cat "{{ consul_config_dir }}/consul_gossip_key"
  register: cat_output
  changed_when: false
  failed_when: false
  run_once: true
  when: gossip_key_file.stat.exists

- name: Set fact with gossip encryption key
  set_fact:
    consul_gossip_encrypt: "{{ cat_output.stdout }}"
  run_once: true
  when: cat_output is defined and cat_output.stdout is defined
