---
  - name: Ensure the Angie HTTP configuration directory exists
    ansible.builtin.file:
      path: /etc/angie/http.d
      state: directory
      mode: '0755'

  - name: Deploy Angie configuration file
    template:
      src: consul-lb.conf.j2
      dest: /etc/angie/http.d/angie.conf
      mode: '0644'
    notify: restart Angie service
