---

- name: Install Angie package
  ansible.builtin.package:
    name: angie
    state: present

- name: Start and enable Angie service
  ansible.builtin.systemd:
    name: angie
    enabled: yes
    state: started
